.App {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to bottom, #9900ff, #cc80ff);
  display: flex;
  align-items: center;
}

.App .form .container {
  width: 40%;
  height: 100%;
  background-color: #e7ecff;
  padding: 2%;
  border-radius: 1%;
}

.App .form .container:hover {
  box-shadow: 0 0 20px 1px white;
}
.App .container button {
  background-color: #9b05ff;
  width: 100%;
  margin-top: 2%;
}
.App .container .form-footer {
  font-size: 2vh;
  font-weight: 500;
}
.App .container .form-footer .link {
  color: #9b07ff;
  font-weight: 700;
  margin-left: 1%;
}
